# Database (Local - XAMPP)
LOCAL_DB_HOST=localhost
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=
LOCAL_DB_NAME=malawi_water
LOCAL_DB_PORT=3306

# Database (Railway)
RAILWAY_DB_HOST=your-railway-host
RAILWAY_DB_USER=your-railway-user
RAILWAY_DB_PASSWORD=your-railway-password
RAILWAY_DB_NAME=your-railway-db
RAILWAY_DB_PORT=3306

# App Config
PORT=3000
JWT_SECRET= ea921a227515360db78a5c5081fd9216039b81757bad5a1243e9a075e3a58e30
CLIENT_URL=http://localhost:5500